*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: serif;
  font-size: 75%;
}

.container {
  margin: 20px auto;
  width: 90%;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;}
}

.preview-baku {
  background: #fff url(images/baku.jpg) no-repeat top center;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 21%;
  }
}

h1 {
  font-weight: 400;
  font-size: 1.5em;
}

.emphasis {
  text-transform: uppercase;
  font-family: sans-serif;
}
